body {
    margin: 40px;
    background-color: beige;
}
h1 {
    background-color: blue;
    color: white;
    font-size: 80px;
}
p {
  font-family: lucida sans;
  font-size: 25px;
  background-color: whitesmoke;
  text-align: justify;
}
h1 {
  font-family: futura;
  text-align: center;
  font-size: 70px;
}

h2 {
    font-family: arial black;
    font-size: 50px;
  }
  video {
    display: block;
    margin: auto;
  }
  iframe {
    display: block;
    margin: auto;
  }
h3 {
  font-size: 40px;
}
section {
  font-size: 40px;
}